/data/
target/
.settings/
.project
.classpath
.DS_Store
*.swp
allCountries.txt
coverage-error.log
cobertura.ser
catalog-v001.xml
_site
docs/_book/
logs/
dependency-reduced-pom.xml
datastore/
docs/java
*.iml
.idea/
npm-debug.log
pyenv/
run/
tmp/
bin/pip
bin/python
__pycache__/
lib/h2o/
jdk/
